html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vw;
  color: white;
  font-family: serif;
  background: url(images/unsplash-fabian-quintero.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

section {
  margin: 4rem 4rem 0;
}

@media screen and (max-width: 800px) {
  section {
    margin: 4rem 0 0; 
  }
}
/* ============
preloader
============ */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(31,30,29);
  height: 100%;
  width: 100%;
}

#preloader img {
  width: 200px;
  height: 100px;
  position: absolute;
  top: calc(50vh - 50px);
  left: calc(50vw - 100px);
}

/* ============
header
============ */

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 6rem;
  width: 100%;
  height: 4rem;
  display: grid;
  grid-template-areas: 
  "logo nav contact-links";
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Manrope', sans-serif;
  font: 200;
  z-index: 10;
  background-color:rgb(114, 114, 114);
}

header a {
  text-decoration: none;
  color: white;
}

#logo {
  grid-area: logo;
}

#logo img {
  height: 2.5rem;
}

#nav {
  grid-area: nav;
  justify-self: start;
}

#nav a {
  padding: 0 0.5rem;
}

#contact-links {
  grid-area: contact-links;
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact-links a {
  padding: 0.3rem;
}

@media screen and (max-width: 750px) {
  header {
    grid-template-areas:
    "logo nav"
    "logo contact-links";
    height: 6rem;
    padding: 0 1.2rem;
  }

  #nav {
    justify-self: end;
  }
}

@media screen and (max-width: 500px) {
  header {
    grid-template-areas:
    "logo nav"
    "contact-links nav";
    height: 6rem;
    padding: 0 1.2rem;
  }

  #nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-self: center;
    gap: 0.2rem;
  }
  #logo, #contact-links {
    justify-self: center;
  }
}

/* ============
video
============ */

.video {
  height: calc(100vh - 4rem);
}

/* ============
about-us
============ */

.about-us {
  margin: 8rem auto 0;
  padding: 4rem 3rem;
  background-color: white;
  color: rgb(114, 114, 114);
  min-width: 20rem;
  max-width: 40rem;
  position: relative;
}

.about-us h1 {
  text-align: center;
  font-size: 2.5rem;
}
.about-us p {
  margin: 2rem 0;
  text-align: justify;
}

.cheer-pic img {
  height: 5rem;
  position: absolute;
  bottom: 1rem;
  right: 4rem;
}

.cheer-pic #cider1 {
  -webkit-transform: rotate(0deg) translateX(-2rem);
      -ms-transform: rotate(0deg) translateX(-2rem);
          transform: rotate(0deg) translateX(-2rem);
  -webkit-animation-name: cheer1;
          animation-name: cheer1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.cheer-pic #cider2{
  -webkit-transform: rotate(0deg)  translateX(2rem);
      -ms-transform: rotate(0deg)  translateX(2rem);
          transform: rotate(0deg)  translateX(2rem);
  -webkit-animation-name: cheer2;
          animation-name: cheer2;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes cheer1 {
  50% {
    -webkit-transform: rotate(5deg) translateX(-1.3rem);
            transform: rotate(5deg) translateX(-1.3rem);
  }
}

@keyframes cheer1 {
  50% {
    -webkit-transform: rotate(5deg) translateX(-1.3rem);
            transform: rotate(5deg) translateX(-1.3rem);
  }
}

@-webkit-keyframes cheer2 {
  50% {
    -webkit-transform: rotate(-5deg) translateX(1.3rem);
            transform: rotate(-5deg) translateX(1.3rem);
  }
}

@keyframes cheer2 {
  50% {
    -webkit-transform: rotate(-5deg) translateX(1.3rem);
            transform: rotate(-5deg) translateX(1.3rem);
  }
}
@media screen and (max-width: 400px) {
  .about-us {
    padding: 4rem 1.5rem;
  }
}
/* ============
flavours
============ */

.flavours .overlay {
  position: fixed;
  background: rgb(250, 250, 250);
  color:rgb(114, 114, 114);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 6rem auto 2rem;
  padding: 3rem 5rem;
  max-width: 65rem;
  display: none;
  z-index: 10;
}

.flavours .overlay.open {
  display: grid;
}

.flavours .overlay .close {
 position: absolute;
 background: transparent;
 outline: none;
 border: none;
 padding: 0 0.5rem;
 font-size: 2rem;
 font-weight: 800;
 top: 1rem;
 right: 1.2rem;
}

.flavours .overlay-inner {
  display: grid;
  grid-template-areas: "img about";
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.flavours .overlay-inner img {
  grid-area: img;
  height: 20rem;
}

.flavours .overlay-inner .description {
  grid-area: about;
}

.flavours .description h1 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

.flavours .description p {
  margin: 1rem 0;
  text-align: justify;
}

.all-ciders {
  margin: 5rem auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 10rem);
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all-ciders .beer {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}


.all-ciders .beer img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  padding: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.all-ciders .item__overlay {
  background: #00000032;
  border-radius: 1rem;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  -o-transition: transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.all-ciders .item__overlay button {
  background: none;
  border: 2px solid white;
  color: white;
  text-transform: rgba(0, 0, 0, 0.7);
  padding: 0.5rem;
}

.all-ciders .beer:hover .item__overlay{
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.all-ciders .beer:hover img{
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
}

@media screen and (max-width: 600px) {
  .flavours .overlay {
    padding: 3rem 1rem;
  }
  .flavours .overlay-inner {
    grid-template-areas: "about";
  }

  .flavours .overlay-inner img {
    display: none;
  }  
}

/* ============
contact-us
============ */

.contact-us {
  margin: 8rem auto 0;
  padding: 4rem 3rem;
  background-color: white;
  color: rgb(114, 114, 114);
  max-width: 40rem;
}

.contact-us h1 {
  text-align: center;
  font-size: 2.5rem;
}
.contact-us p {
  margin: 2rem 0;
}

.contact-us form {
  margin: 3rem 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  grid-gap: 1.5rem;
}

.contact-us form input,
.contact-us form select,
.contact-us form textarea {
  background: #ececec;
  outline: none;
  border: none;
  padding: 0.8rem;
  color: rgb(114, 114, 114);
  width: 100%;
}

.contact-us form .required {
  position: relative;
}

.contact-us form .required:after {
  content: "\26A0";
  color: red;
  font-size: 1.3rem;
  position: absolute;
  top: 0.3rem;
  right: 0.4rem;
}

.contact-us form .select {
  background: #ececec;
  background-image: url(images/dropdown-arrow.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 2rem;
  overflow: hidden;
}

.contact-us form select {
  background: transparent !important;
  width: 140%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
}

.contact-us button {
  grid-column-end: -1;
  background: white;
  border: none;
  text-align: left;
  margin-top: 2rem;
  padding: 0.8rem 0;
  color: rgb(114, 114, 114);
  font-size: 1rem;
  text-transform: uppercase;
  border-top: 1px solid grey;
  position: relative;
  cursor: pointer;
}

.contact-us button:after {
  content: "\003E";
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  top: 0.4rem;
  right: 0.2rem;
}


@media screen and (max-width: 500px) {
  .contact-us {
    margin: 8rem 0;
    padding: 4rem 1.5rem;
  }
}